---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

	<body>
		<h1>Welcome to My Domain</h1>
        <h2>This is MY Place Bitch</h2>
        <p>Listen, this is what we're going to do.</p>
        <p>We're going to make a motherfucking website.</p>
	</body>
</html>
