---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css"

const allPosts = await Astro.glob("../pages/posts/*md");
---

<BaseLayout pageTitle={"THIS is the Blog"}>
    <h2>Beware the Blogart!</h2>
    <p>When the blogart comes for your clicks,</p>
    <p>You have no choice but to waste 5 minutes of your life.</p>
    <ul>
        {
            allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)
        }   
    </ul>
</BaseLayout>
