---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

	<body>
		<h1>THIS is the Blog</h1>
        <h2>Beware the Blogart!</h2>
        <p>When the blogart comes for your clicks,</p>
        <p>You have no choice but to waste 5 minutes of your life.</p>
	</body>
</html>
