---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css"
---

<BaseLayout pageTitle={"THIS is the Blog"}>
    <h2>Beware the Blogart!</h2>
    <p>When the blogart comes for your clicks,</p>
    <p>You have no choice but to waste 5 minutes of your life.</p>
    <ul>
        <li><a href="/posts/post-1/">Post 1</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
        <li><a href="/posts/post-3/">Post 3</a></li>      
    </ul>
</BaseLayout>
